body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    font-family: "Roboto Mono", serif;
}

.content {
    padding: .5em;
    margin: 1em;
    border: 1px solid black;
    border-radius: 15px;
}

#container {
    width: inherit; 
    height: 100svh;
}

#navbar {
    border: 1px solid black;
    height: 10%;
    width: 100%;
}

#main_container {
    width: 100%;
    height: 90%;
    display: flex;
}

#sidebar-div {
    border: 1px solid black;
    width: 25%;
    height: 100%;
}

#content-div {
    border: 1px solid black;
    width: 75%;
    height: 100%;
}

#basket {
    position: absolute;
    width: 25vw;
    height: 60vh;
    right: 5vw;
    top: 10vh;
}