:root {
    /* color palette */
    --clr_backdrop: #01303f;
    --clr_midlevel: #02447a;
    --clr_accent1: #02a9f7;
    --clr_accent2: #89d6fb;
    --clr_accent3: #d4f0fc;
    --clr_bg: rgba(1, 48, 63, .7);

    /* for proper rem/em values */
    font-size: 14px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    font-family: "Roboto Mono", serif;
}

.content {
    /* TODO: item grid */
    /* display: grid;
    padding: .5em;
    margin: 1em; */
    /* border: 1px solid black; */
    /* border-radius: 15px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vw;
}

@media only screen and (max-width: 600px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
        /* Man pls move the title to a different place and make the items grid, thx - L */
    }
}

.product_showcase > h3 {
    margin: 0px;
}


#container {
    background-color: var(--clr_bg);
    width: inherit; 
    height: 100svh;
}

#navbar {
    border: 1px solid black; /*if i remove this line, a mysterious white line appears. Don't ask me - D*/ /* Damn xd - L*/
    height: 7%;
    width: 100%;
    background-color: var(--clr_backdrop);
    border-bottom: var(--clr_accent1) 4px solid;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(0deg, rgb(0, 0, 0, .5) 0%, rgba(0, 0, 0, .35) 25%, rgba(255, 255, 255, 0) 100%);
}

.product_image {
    float: left;
    aspect-ratio: 1/1;
    height: inherit;
}

.nav_content {
    color: var(--clr_accent2);
    text-decoration: none;
}

.logo {
    position: absolute;
    width: 30px;
    left: 3.5rem;
    box-shadow: var(--clr_midlevel) 0 0 35px;
}

#main_container {
    width: 100%;
    height: 90%;
    display: flex;
}

#sidebar-div {
    position: absolute;
    left: -15vw;
    transition: left 1.3s,background-color 1.3s, margin-right 1.3s;
    /* border: 1px solid black ; */
    width: 20vw;
    height: 100%;
    display:inline;
    z-index: 3;
    background-color: rgba(0, 0, 0, .10);
    /* padding-left: 5vw; */
    color: #89d6fb;
    
}
#sidebar-div:hover {
    left: 0vw;
    background-color: rgba(0, 0, 0, .75);
}
/* i am the angry pumpkin */
#sidebar-div:hover .angrypumpkin {
    margin-right: 1vw;
}
.angrypumpkin {
    margin-right: 5vw;
}

#content-div {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    overflow-y: scroll;
}

#content-div::before {
    content: '';
    /* background-image: url(img/bg.jpg); */
    /* background-size: cover;
    background-repeat: repeat; */
    /* opacity: 0; */
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    /* position: fixed; */
}

#toggleBasket {
    position: absolute;
    width: 30px;
    right: 3.5rem;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: var(--clr_accent2);
    text-shadow: rgba(0, 0, 0, .75) 0 0 25px;
}

#products {
    color: var(--clr_accent2);
}

#toggleSidebar {
    background-color: black;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1em;
    left: 1em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.product_showcase {
    position: relative;
    align-items: center;
    overflow-y: hidden;
    height: 20vh;
    background-color: rgba(0, 0, 0, .75);
    padding: 1em;
    /* margin-inline: 20%; */
    margin-bottom: 2rem;
    border-radius: 20px;
    width: 500px;
}

/* .product_showcase h1, p {
    height: 50%;
    overflow-y: hidden;
} */

.price_and_buy {
    float: right;
    /* position: absolute;
    right: 5%;
    bottom: 5%; */
}

.price_and_buy p {
    font-size: large;
    font-style: oblique;
}

li {
    float: left;
    margin-inline: 1em;
    list-style-type: none;
}

.bg_image {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* opacity: 0.2; */
}

#basket {
    position: absolute;
    overflow-x: hidden;
    width: 25vw;
    height: 60vh;
    right: 5vw;
    top: 10vh;
    background-color: var(--clr_backdrop);
    display: none;
    border: var(--clr_accent1) 2px solid;
    border-radius: 15px;
    box-shadow: black 0 0 15px;
}

@media only screen and (max-width: 900px) {
    #basket {
        width: 50%;
    }
}

.basket_element {
    background-color: var(--clr_accent3);
    display: block;
    margin-bottom: 1em;
    margin-inline: .5em;
    /* background-color: black; */
    border: 1px solid black;
    border-radius: 15px;
}

.basket_element > * {
    padding: 1em;
}

#basket > h3 {
    padding-left: 1em;
    color: var(--clr_accent3);
}

#basket_items {
    height: 75%;
    overflow-y: scroll;
}

#checkout {
    padding: 1.5rem;
}

#checkout > * {
    margin: 1vw;
}

button {
    /* float: right; */
    border: 2px solid;
    border-color: var(--clr_midlevel);
    background-color: transparent;
    color: var(--clr_midlevel);
}
.price_and_buy > p {
    margin: 0px;
}

.price_and_buy > button {
    float: right;
}