:root {
    /* color palette */
    --clr_backdrop: #01303f;
    --clr_midlevel: #02447a;
    --clr_accent1: #02a9f7;
    --clr_accent2: #89d6fb;
    --clr_accent3: #d4f0fc;
    --clr_bg: rgba(1, 48, 63, .7);

    /* for proper rem/em values */
    font-size: 14px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    font-family: "Roboto Mono", serif;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    gap: 1vw;
}

.product_showcase > h3 {
    margin: 0px;
}


#container {
    background-color: var(--clr_bg);
    width: inherit; 
    height: 100svh;
}

#navbar {
    border: 1px solid black; /*if i remove this line, a mysterious white line appears. Don't ask me - D*/ /* Damn xd - L*/
    height: 7vh;
    width: 100%;
    background-color: var(--clr_backdrop);
    border-bottom: var(--clr_accent1) 4px solid;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(0deg, rgb(0, 0, 0, .5) 0%, rgba(0, 0, 0, .35) 25%, rgba(255, 255, 255, 0) 100%);
    z-index: 3;
}

.product_image {
    float: left;
    aspect-ratio: 1/1;
    height: inherit;
}

.nav_content {
    color: var(--clr_accent2);
    text-decoration: none;
}

.logo {
    position: absolute;
    width: 30px;
    left: 3.5rem;
    box-shadow: var(--clr_midlevel) 0 0 35px;
}

#main_container {
    width: 100%;
    height: 90%;
    display: flex;
}
#brisket {
    top: 7vh;
    display: inline;
    z-index: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .10);
    width: 20vw;
    height: 100%;
    right: -17vw;
    transition: right 1.3s,background-color 1.3s,
}
#brisket:hover {
    right: 0vw;
    background-color: rgba(0, 0, 0, .85);
}
#sidebar-div {
    position: absolute;
    left: -17vw;
    transition: left 1.3s,background-color 1.3s;
    border-right: 1px solid var(--clr_accent3) ;
    width: 20vw;
    height: 100%;
    display:inline;
    z-index: 3;
    background-color: rgba(0, 0, 0, .10);
    color: #89d6fb;
}
#sidebar-div:hover {
    left: 0vw;
    background-color: rgba(0, 0, 0, .85);
}

#content-div {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    overflow-y: scroll;
}

#content-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#toggleBasket {
    position: absolute;
    width: 30px;
    right: 3.5rem;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: var(--clr_accent2);
    text-shadow: rgba(0, 0, 0, .75) 0 0 25px;
}

#products {
    margin-left: 3vw;
    margin-right: 3vw;
    color: var(--clr_accent2);
}

#toggleSidebar {
    background-color: black;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1em;
    left: 1em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.product_showcase {
    position: relative;
    align-items: center;
    overflow-y: hidden;
    height: 20vh;
    background-color: rgba(0, 0, 0, .75);
    padding: 1em;
    margin-bottom: 2rem;
    border-radius: 20px;
    width: 500px;
}

.price_and_buy {
    float: right;
}

.price_and_buy p {
    font-size: large;
    font-style: oblique;
}

li {
    float: left;
    margin-inline: 1em;
    list-style-type: none;
}

.bg_image {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#basket {
    position: absolute;
    right: -22vw;
    transition: right 1.3s,background-color 1.3s, margin-right 1.3s;
    border-left: 1px solid var(--clr_accent3) ;
    width: 25vw;
    height: 100%;
    display:inline;
    z-index: 3;
    background-color: rgba(0, 0, 0, .10);
    color: #89d6fb;
   
}

#basket:hover {
    right: 0vw;
    background-color: rgba(0, 0, 0, .85);
}

.basket_element{
    background-color: #01303f55; /* transparent backdrop var */
    color: var(--clr_accent2);
    display: block;
    margin-bottom: 1em;
    margin-inline: .5em;
    border: 1px solid black;
    border-radius: 15px;
}

.basket_element > * {
    padding: 1em;
}

#basket > h3 {
    padding-left: 1em;
    color: var(--clr_accent3);
}

.basket_img {
    position: relative;
    height: 10vh;
}

.basket_img > img {
    position: absolute;
    right: 25%; /* Beats me why but this is apparently the center of the div */
    transform: translateX("-50%");
}

#basket_items {
    height: 75%;
    overflow-y: scroll;
}

#checkout {
    padding: 1.5rem;
}

#checkout > * {
    margin: 1vw;
}

button {
    border: 2px solid;
    border-color: inherit;
    background-color: #11111155;
    color: inherit;
    border-radius: 10px;
}

.price_and_buy > p {
    margin: 0px;
}

.price_and_buy > button {
    float: right;
}

#popup {
    /* temp */
    background-color: white;
    /* temp */
    left: 50%;
    top: -50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    position: absolute;
    transition: all 1s;
}